* {
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width:50%;
    margin:auto;
}

table {
    border: 3px solid #ccc;
    border-collapse: collapse; /* par defaut la defaut contient 2 traits*/
}

caption {
    font-size:26px;
    font-weight: bold;
}

thead {
    background:#eea !important;
    font-weight: bold;
    border-bottom: 1px solid #000;
    
}

td {
    border: 1px dotted #ccc;
}

td:first-child {
    background:#c55;
    color:white;
    font-weight: bolder;
    border-right: 1px solid #000;
}

tfoot td {
    background:#caa !important;
    font-weight: bold;
    border-top: 1px solid #000;
}
