* {
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width:50%;
    margin:auto;
}

table {
    border: 3px solid #ccc;
    border-collapse: collapse; /* par defaut la defaut contient 2 traits*/
}

caption {
    font-size:26px;
    font-weight: bold;
}

thead {
    background:#eea !important;
    font-weight: bold;
    
}

td:first-child {
    background:#c55 !important;
    color:white;
    font-weight: bolder;
}

tfoot {
    background:#caa !important;
    font-weight: bold;
}
