/*

arriere-plan #B1EBEC
header #C8AE81
nav #2F4747
section 1 #F9D7B1
section 2 :#7794AA
section 3 :#3E4F5C
section 4 :#F9DFAA
footer #B9B9B9

*/

#container {
    width: 820px;
    margin: auto;
    background: #B1EBEC;
    text-align: center;
    color:#FFF;
}

header {
    height:75px;
    background: #C8AE81;
    line-height: 75px;
}

nav{
    height: 20px;
    background:#2F4747;
}

#sections {
    width:100%;
    margin:10px;
    height: 510px;
}

.sec {
    width: calc(400px / 2);
    background: black;
    height:250px;
    float: left;
}

.sec div {
    width:198px;
    height:124px;
    float: left;
    border: 1px solid #FFF;
    line-height: 124px;
}

.color1 {background:#F9D7B1}
.color2 {background:#7794AA}
.color3 {background:#3E4F5C}
.color4 {background:#F9DFAA}

footer {
    clear: both;
    height:75px;
    width:100%;
    background: #B9B9B9;
    line-height: 75px;
}