*{
    box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
   font-size: 70px;
   color: white;
   margin-top: 50px;
   text-align: center;
    font-family: 'Amatic SC', cursive;
	font-weight: 400;
	float: left;
}
h2{
   font-size: 50px;
   color: CRIMSON;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;

}
h3{
   font-size: 22px;
   color: #2c3e50;
   padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}
h5{
   font-size: 85px;
   color: /*CRIMSON*/purple;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
blockquote{
   font-style: italic;
   font-size: 120%;
}
strong{
   font-weight: bold;
}
main{
    margin: 0 auto;
	width: 1000px;
	background:papayawhip;
}
aside{
   /*height: 250px;*/
   height: 300px;

}
section{
   margin-top: 50px;
   /*background: THISTLE;*/
   padding: 20px;
}
footer{
   background:MISTYROSE;
   height: 30px;
}
/*********************************  DEBUT HEADER  ***********************************/
header{
   background-color:SLATEGRAY;
   height:170px;
}
#logo{
 width: 25%;
 text-align: center;
 padding: 15px;
 float: left;
}
#rs{
 width: 10%;
 float: right;
 padding: 10px;
}
#rs a{
font-size: 25px;
color: white;
display: block;/*change leur type inline en block pour les mettre les uns en dessous des autres*/
text-align: center;
padding: 15px 30px 0 0;
text-decoration: none;
}
#rs a:hover{
 font-size: 30px;
 transition: .4s;
}
/**********************FIN DE HEADER*******************/
/*********************DEBUT DE NAV*********************/
nav{
 background-color: MISTYROSE;
 border-bottom: 4px solid slategray;
 text-align: center;
 padding: 17px;
 clear: both;
}
nav a{
 font-family: 'Amatic SC' cursive;
 font-size: 25px;
 text-decoration: none;
 color: black;
 font-weight: 500;
 border: 1px solid pink;
 padding: 6px 9px;
 border-radius: 7px;
 margin: 0px 8px;
}
nav a:hover{
 background: pink;
 transition: 1s;
}
.active{
 background: pink;
}
.roboto p {
	font-family: 'Roboto Condensed', sans-serif;
}
.select p {
	color:red;
}
.select p:first-of-type {
	color: purple;
}
.select p:last-of-type {
	color: purple;
}
.select p:nth-of-type(5), .select p:nth-of-type(6) {
	color: black;
}
.select .zoneB .couleurbleu {
	color:blue;
}
.select #zoneD span {
	color: #32ff32;
	
}
.select .zoneA {
	color: #963;
}
.select #zoneC {
	color: #98f32f;
}
.select #zoneD {
	font-weight: bolder;
}
.imageFond {
	background: #000 url('../img/fond.jpg') no-repeat;
	background-size: cover;
}
.imageFond p {
	width:75%;
	margin:100px auto 200px auto;
	background: rgba(255, 255, 255, .6);
	padding:20px;
	font-size: 120%;
	border-radius:10px;
}
.tourEiffel img{
	border:5px solid #000;
	box-shadow: 3px 0 7px;
	display: block;
	margin:auto;
}
.francisco img {
	border: 5px solid #fff;
	box-shadow: 0 0 10px;
	margin: 20px;
	transition: .4s;

}
.francisco p img:first-of-type:hover {
	transform: rotateZ(-20deg);
transition: .4s;
}
.francisco p img:last-of-type:hover {
transform: rotateZ(-20deg);
transition: .4s;
}
.francisco .lstimg{
	display: block;
	margin: auto;
	
}
.francisco .lstimg:hover {
	transform: rotateZ(-360deg);
transition: .4s;
}
.centre {
    margin:auto;
    width:500px;
    background: #3cc;
    color:#fff;
    text-align: center;
    line-height: 180px;
    font-size: 50px;
    font-style:italic;
}
.relative {
    background:red;
    width:500px;
    height:500px;
    position:relative;
    bottom:50px;
    margin:auto;
}
.relative div{
    position: absolute;
    bottom:10px;
    width:50px;
    height:50px;
    background:blue;
}
button {
    position: fixed;
    background: transparent;
    right:20px;
    cursor: pointer;
    color: slategray;
    border: none;
    bottom:40px;
    font-size: 30px !important;
}
button:hover {
    color:pink;
    transition: 1s;
}
.trente {
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background: #f1684e;
    color: #efe94b;
    font-weight: bold;
}
.cinquante {
    margin: 10px 0;
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: limegreen;
    color: #efe94b;
    font-weight: bold;
}
.cent {
    margin: 10px 0;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: skyblue;
    color: #efe94b;
    font-weight: bold;
}
.carre {
    width:170px;
    height:170px;
    background:orange;
    border: 3px solid #3cc;
    float: left;
    text-align: center;
    line-height: 170px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5)
}
.carre:hover {
    background: #dc143c;
    border: 15px solid lightseagreen;
    transition:1s;
    transform:rotate(45deg);
    border-radius:85px;
}
.float2{
    margin:auto;
    width:100%;
}
.rect{
    height:40px;
    background:darkseagreen;
}
.c1, .c2, .c3, .c4 {
    width:25%;
    height:250px;
    float: left;
}
.c1 {background:lightpink}
.c2 {background: lightsalmon}
.c3 {background:turquoise}
.c4 {background: rosybrown}
.clear {
    clear: both;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.flex div {
    width:150px;
    height:150px;
    background: indianred;
    border:3px solid;
    text-align: center;
    font-size: 50px;
    color:#fff;
}
.zoning {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}

.first {
    width:100%;
    height:30%;
    background: green;

}

.nd {
    width: 65%;
    height: 70%;
    background: orange;
    float: right;
}
.rd {
    width: 35%;
    height: 70%;
    background: maroon;
    float: left;
}
.zoning2 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}

.first2 {
    width:100%;
    height:30%;
    background: green;

}

.nd2 {
    width: 20%;
    height: 70%;
    background: orange;
    float: left;
}
.rd2 {
    width:60%;
    height: 70%;
    background: maroon;
    float: left;
}

.rth2 {
    width: 20%;
    height: 70%;
    background: orange;
    float: right;
}
.zoning3 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}
.droite {
    width: 50%;
    height: 80%;background: red;
    float: left;
}
.gauche {
    width: 50%;
    height: 80%;background: green;
    float: left;

}
.bas {
    width:100%;
    height:20%;
    background: blue;
    clear: both;
}
.zoning4 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}
.st {
    height: 10%;
    width: 100%;
    background: green;
}
.st.light {
    height: 5%;
    background:greenyellow;
}
.center {
    width: 90%;
    height: 55%;
    margin:5%;
    background:red;
}
.center.bg {
    background-image: url(../img/fond.jpg);
    background-size: cover;
}
.A, .B, .C, .D {
    width: 50%;
    height: 50%;
    float: left;
    border-radius: 0;
    text-align: center;
    color: #fff;
}
.B {
    background:greenyellow;
}
.C {
    background:navy;
}
.D {
    background:orangered;
}
.A:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.B:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.C:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.D:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.zoning6 {
    width:80%;
    height:800px;
    border:3px solid #000;
    margin:auto;
}
.hdr {
    height:15%;
    width:100%;
}
.haut1, .haut2 {
    background:pink;
    width:20%;
    height:100%;
}

.haut1 {
    float: left;
}
.haut2 {
    float: right;
}
.haut3 {
    background: #2c3e50;
    width:60%;
    height:100%;
    float: left;
}

.mnu {
    line-height: 50px;
    text-align: center;
    background: orange;
}
.side {
    float: left;
    width: 30%;
    height: calc(65% - 50px);
    background:red;
}
.right {
    float: right;
    width: 70%;
    height: calc(65% - 50px);
}
.aa, .bb, .show {
    height:40%;
    float: left;
}
.aa, .bb {
    width: 50%;
    background: greenyellow;
    
}

.B:hover {
    background: url('../img/fond.jpg');
    background-size: 200%;
    border-radius: 0;
    background-position: 100% 0;
}

.aa {
    background: #963;
}

.show {
    width:100%;
    background: lightblue
}
.cc, .dd, .ee, .ff {
    width: 25%;
    float: left;
    text-align: center;
    background: pink;
    height: 20%;
}

.cc, .ee {
    background: gray;
}

/************ listes *****************/
.ul1 li {
    display: inline-block;
    margin: 0 10px;
}
.ul1 li i {
    color: tomato;
    margin-right: 5px;
}

.li1 {
    color: tomato;
    float: left;
    list-style: none;
}

.ul2 i {
    margin-right: 5px;
}

.ul2 span {
    clear: both;
}

.li2 {
    color: tomato;
    float: left;
    list-style: none;
}

.ul21, .ul22 {
    margin: 0 30px;
}

ul li:hover, span:hover, i:hover, i:hover span {
    transition: 1s;
    font-size: 30px;
    color: tomato;
}

.lm-menu {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.lm-menu a {
    background: orangered;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.lien {
    margin: 5px 0;
    display: inline-block;
}

.lien a{
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

.lien:hover {
    transition: none;
    font-size: inherit;
    color: inherit;
}

.lm-menu a:hover{
    font-size: 150%;
    transition: 1s;
}

.lm-menu.menu2 a {
    font-size: 14px;
    background: #fff;
    color: #f1684e;
    border: 2px solid #f1684e;
    padding: 10px 5px;
    box-shadow: none;
    font-family: cursive;
}

.lm-menu.menu2 a:hover {
    transition: 1s;
    font-size: 14px;
    background-color: #f1684e;
    color: #fff;
}

.lm-menu.menu3 {
    background: skyblue;
    padding:8px 0;
    width: 60%;
    margin: auto;
}

.lm-menu.menu3 a {
    font-size: 14px;
    background: #ff6546;
    color: #333;
    border: 2px solid #c5523b;
    padding: 5px 15px;
    box-shadow: none;
    font-family: cursive;
}

.lm-menu.menu3 a:hover {
    transition: 1s;
    font-size: 14px;
    background-color: #f1684e;
    color: #fff;
}

/***********/

.menu{
    color: #051404;
    margin: 30px;
    text-align: center;
 }
 
 #amenu{
    text-align: left;
 }
 
 .menuderoulant a{
    border: 1px solid #43fa2e;
    background-color: #093f05;
    color: #43fa2e;
    border-radius: 7px;
    padding: 5px 20px;
    margin:30px;
    text-decoration: none;
 }
 
 .menu a:hover{
    font-size:20px;
    color:rgb(207, 250, 178);
 }

.menuderoulant{
    color: #051404;
    margin: 30px 30px 250px 30px;
    text-align: center; 
}
    .menuderoulant ul li{
        list-style: none;
        display: inline-block;
        position: relative;
    }
        .menuderoulant ul li > ul{
            list-style: none;
            display: none;
            background-color: #051404;
            border: 2px solid #43fa2e;
            border-radius: 7px;
            position: absolute;
            top: 35px;
            left: 0;
            width: 200px;
            transform: translate(-12%);
        }
        .menuderoulant ul li:hover ul{
            display: inline-block;
        }
            .menuderoulant ul li > ul li{
                list-style: none;
                display: block;
                border-bottom: 1px solid #43fa2e;
                /* margin: 15px 0; */
                padding: 15px 0;
            }
            .menuderoulant ul li > ul li:hover{
                background-color: #093f05;
                transition: none;
                    margin: 0;
                    padding: 0;
            }
                .menuderoulant ul li > ul li a{
                    background-color: transparent;
                    border: none;
                    transition: none;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                }
                    .menuderoulant ul li > ul li a:hover{
                        font-size:100%;
                    }


/******** tables *********/

table {
    text-align: center;
    margin:0 auto;
    border: 2px solid royalblue;
    border-collapse: collapse;
    background: #fff;
}
table caption {
    padding-top: 50px;
    text-align: center;
}

td {
    border-collapse: collapse;
    border:1px solid royalblue;
    width: 180px;
    padding:5px 0;
}

tr:first-of-type, tr:last-of-type {
    background: rgb(9, 120, 224);
}

/************************* FORMULAIRES ******************************/
form{
    border-radius: 14px;
    background-color: lightcoral;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
}
label{
    color:#fff;
    margin: 10px 0;
    width: 50%;
    display: inline-block;
}

form input:nth-of-type(5){
    border: none;
}
form input:nth-of-type(8){
    border: none;
}
input:nth-of-type(7){
    border: none;
}
label [for="question"], label [for="question"], label [for="question"]{
    width: 10%;
}
textarea{
    resize: none;
    display: inline-block;
}

/*************** animation **********************/

.infobulle {
    width: 60%;
    box-shadow: -1px 1px 20px 10px #333 inset;
    background: #555;
    text-align: center;
    padding:30px 0;
    margin: auto;
    font-size: 22px;
}

.infobulle p {
    padding: 25px 0;
    position: relative;
}

.infobulle p a {
    text-decoration: none;
    color: #fff;
}
.infobulle p a:hover {
    background: #2225;
    padding:5px;
    border-radius: 5px;
    border-bottom: 5px solid #ddd;
}

.infobulle p span{
    opacity: .5;
    text-decoration: none;
    color: #32ff32;
    position: absolute;
    top: 65px;
    left: 50%;
    background: #222;
    padding:10px;
    border-radius: 5px;
    transform:scale(0) rotateZ(-12deg);
    z-index: 1;
}

.infobulle p span:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -15px;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #222;
}

.infobulle p a:hover ~ span {
    opacity: 1;
    transform:scale(1) rotateZ(0);
    transition: .3s;
}

/********* ANIMATION **********/

.survol {
    width:100%;
}

.survol ul {
    width: 320px;
    height: 320px;
    margin:70px auto;
    /* background:red; */
}

.survol ul li {
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    list-style: none;
    position: relative;

}
.survol li:nth-of-type(3) {
    clear: both;
}

.survol img {
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px #000;
    transition: .5s cubic-bezier(0,3,.4,1);
}

.survol li:hover img {
    z-index: 2;
    box-shadow: 0 0 3px #000;
    transform: scale(1.5);
}
.survol:hover li:not(:hover) img {
    filter: grayscale(1) blur(8px);
}
/*------- Menu rotation ---------*/
#menuRotate{
	height: 360px;
	width: 576px;
	margin: 100px auto;
	background: mistyrose;
	position: relative; /*absolute en foncction du body sauf si son parent est en relative*/
	overflow: hidden;
	border: 2px solid pink;
}
#menuRotate .masque{
	position: absolute;
	z-index: 50;
	width: 585px;
	height: 135px;
	top: 0;
	left: 0;
	background: linear-gradient(pink, mistyrose);
}
#menuRotate .ombre{
	position: absolute;
	z-index: 40;
	width: 300px;
	height: 6px;
	box-shadow: 0px 100px 3px black;
	border-radius: 75px / 3px; /*rayon horizontaux / rayon verticaux*/
	top: 32px;
	left: 142px;
}
#menuRotate dl{
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 155px;
	color: white;
	text-align: center;
	background: CRIMSON;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0,0,0,0.7);
	transform-origin: 50% 120px;
	animation: bounceOut 0.7s ease-in-out;
}
#menuRotate dt{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding-top: 5px;
}
#menuRotate dd{
	transform: rotate(180deg);
}
#menuRotate dd a{
	display: block;
	height: 24px;
	padding: 3px 0;
	color: white;
	text-decoration: none;
}
#menuRotate dd a:hover{
	background: rgba(255,255,255,0.1);
}
#menuRotate dl:hover{
	transform: rotate(-180deg);
	animation: bounceIn 0.7s ease-in-out;
}
@keyframes bounceIn{
	from{transform: rotate(0deg);}
	75%{transform: rotate(-200deg);}
	90%{transform: rotate(-175deg);}
	to{transform: rotate(-180deg);}
}
@keyframes bounceOut{
	from{transform: rotate(0deg);}
	0%{transform: rotate(-180deg);}
	10%{transform: rotate(-165deg);}
	to{transform: rotate(-360deg);}
}

/***************** Multimedia *********************/
.videoFond {
    padding-left:0;
    padding-right:0;
}

.videoFond video {
    position:absolute;
    z-index: 1;
    width: 100%;
}

.videoTexte {
    position: relative;
    width: 100%;
    height: 500px;
}

.videoFond p {
    position: absolute;
    transform: translate(-50%, -25%);
    z-index:2;
    width: 500px;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, .6);
    padding: 10px;
    border-radius: 10px;
}

.audio {
    text-align: center;
}