*{
    box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
   font-size: 70px;
   color: white;
   margin-top: 50px;
   text-align: center;
    font-family: 'Amatic SC', cursive;
	font-weight: 400;
	float: left;
}
h2{
   font-size: 50px;
   color: CRIMSON;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;

}
h3{
   font-size: 22px;
   color: #2c3e50;
   padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}
h5{
   font-size: 85px;
   color: /*CRIMSON*/purple;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
blockquote{
   font-style: italic;
   font-size: 120%;
}
strong{
   font-weight: bold;
}
main{
    margin: 0 auto;
	width: 1000px;
	background:papayawhip;
}
aside{
   /*height: 250px;*/
   height: 300px;

}
section{
   margin-top: 50px;
   /*background: THISTLE;*/
   padding: 20px;
}
footer{
   background:MISTYROSE;
   height: 30px;
}
/*********************************  DEBUT HEADER  ***********************************/
header{
   background-color:SLATEGRAY;
   height:170px;
}
#logo{
 width: 25%;
 text-align: center;
 padding: 15px;
 float: left;
}
#rs{
 width: 10%;
 float: right;
 padding: 10px;
}
#rs a{
font-size: 25px;
color: white;
display: block;/*change leur type inline en block pour les mettre les uns en dessous des autres*/
text-align: center;
padding: 15px 30px 0 0;
text-decoration: none;
}
#rs a:hover{
 font-size: 30px;
 transition: .4s;
}
/**********************FIN DE HEADER*******************/
/*********************DEBUT DE NAV*********************/
nav{
 background-color: MISTYROSE;
 border-bottom: 4px solid slategray;
 text-align: center;
 padding: 17px;
 clear: both;
}
nav a{
 font-family: 'Amatic SC' cursive;
 font-size: 25px;
 text-decoration: none;
 color: black;
 font-weight: 500;
 border: 1px solid pink;
 padding: 6px 9px;
 border-radius: 7px;
 margin: 0px 8px;
}
nav a:hover{
 background: pink;
 transition: 1s;
}
.active{
 background: pink;
}
.roboto p {
	font-family: 'Roboto Condensed', sans-serif;
}
.select p {
	color:red;
}
.select p:first-of-type {
	color: purple;
}
.select p:last-of-type {
	color: purple;
}
.select p:nth-of-type(5), .select p:nth-of-type(6) {
	color: black;
}
.select .zoneB .couleurbleu {
	color:blue;
}
.select #zoneD span {
	color: #32ff32;
	
}
.select .zoneA {
	color: #963;
}
.select #zoneC {
	color: #98f32f;
}
.select #zoneD {
	font-weight: bolder;
}
.imageFond {
	background: #000 url('../img/fond.jpg') no-repeat;
	background-size: cover;
}
.imageFond p {
	width:75%;
	margin:100px auto 200px auto;
	background: rgba(255, 255, 255, .6);
	padding:20px;
	font-size: 120%;
	border-radius:10px;
}
.tourEiffel img{
	border:5px solid #000;
	box-shadow: 3px 0 7px;
	display: block;
	margin:auto;
}
.francisco img {
	border: 5px solid #fff;
	box-shadow: 0 0 10px;
	margin: 20px;
	transition: .4s;

}
.francisco p img:first-of-type:hover {
	transform: rotateZ(-20deg);
transition: .4s;
}
.francisco p img:last-of-type:hover {
transform: rotateZ(-20deg);
transition: .4s;
}
.francisco .lstimg{
	display: block;
	margin: auto;
	
}
.francisco .lstimg:hover {
	transform: rotateZ(-360deg);
transition: .4s;
}
.centre {
    margin:auto;
    width:500px;
    background: #3cc;
    color:#fff;
    text-align: center;
    line-height: 180px;
    font-size: 50px;
    font-style:italic;
}
.relative {
    background:red;
    width:500px;
    height:500px;
    position:relative;
    bottom:50px;
    margin:auto;
}
.relative div{
    position: absolute;
    bottom:10px;
    width:50px;
    height:50px;
    background:blue;
}
button {
    position: fixed;
    background: transparent;
    right:20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom:40px;
}
button:hover {
    color:pink;
    transition: 1s;
}
.trente {
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background: #f1684e;
    color: #efe94b;
    font-weight: bold;
}
.cinquante {
    margin: 10px 0;
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: limegreen;
    color: #efe94b;
    font-weight: bold;
}
.cent {
    margin: 10px 0;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: skyblue;
    color: #efe94b;
    font-weight: bold;
}
.carre {
    width:170px;
    height:170px;
    background:orange;
    border: 3px solid #3cc;
    float: left;
    text-align: center;
    line-height: 170px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5)
}
.carre:hover {
    background: #dc143c;
    border: 15px solid lightseagreen;
    transition:1s;
    transform:rotate(45deg);
    border-radius:85px;
}
.float2{
    margin:auto;
    width:100%;
}
.rect{
    height:40px;
    background:darkseagreen;
}
.c1, .c2, .c3, .c4 {
    width:25%;
    height:250px;
    float: left;
}
.c1 {background:lightpink}
.c2 {background: lightsalmon}
.c3 {background:turquoise}
.c4 {background: rosybrown}
.clear {
    clear: both;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.flex div {
    width:150px;
    height:150px;
    background: indianred;
    border:3px solid;
    text-align: center;
    font-size: 50px;
    color:#fff;
}
.zoning {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}

.first {
    width:100%;
    height:30%;
    background: green;

}

.nd {
    width: 65%;
    height: 70%;
    background: orange;
    float: right;
}
.rd {
    width: 35%;
    height: 70%;
    background: maroon;
    float: left;
}
.zoning2 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}

.first2 {
    width:100%;
    height:30%;
    background: green;

}

.nd2 {
    width: 20%;
    height: 70%;
    background: orange;
    float: left;
}
.rd2 {
    width:60%;
    height: 70%;
    background: maroon;
    float: left;
}

.rth2 {
    width: 20%;
    height: 70%;
    background: orange;
    float: right;
}
.zoning3 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}
.droite {
    width: 50%;
    height: 80%;background: red;
    float: left;
}
.gauche {
    width: 50%;
    height: 80%;background: green;
    float: left;

}
.bas {
    width:100%;
    height:20%;
    background: blue;
    clear: both;
}
.zoning4 {
    width:80%;
    height:800px;
    border:2px solid #000;
    margin:auto;
}
.st {
    height: 10%;
    width: 100%;
    background: green;
}
.st.light {
    height: 5%;
    background:greenyellow;
}
.center {
    width: 90%;
    height: 55%;
    margin:5%;
    background:red;
}
.center.bg {
    background-image: url(../img/fond.jpg);
    background-size: cover;
}
.A, .B, .C, .D {
    width: 50%;
    height: 50%;
    float: left;
    border-radius: 0;
    text-align: center;
    color: #fff;
}
.B {
    background:greenyellow;
}
.C {
    background:navy;
}
.D {
    background:orangered;
}
.A:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.B:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.C:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.D:hover {
    background:transparent;
    transform: rotateZ(360deg);
    transition: 1s;
    border-radius: 50px;

}
.zoning6 {
    width:80%;
    height:800px;
    border:3px solid #000;
    margin:auto;
}
.hdr {
    height:15%;
    width:100%;
}
.haut1, .haut2 {
    background:pink;
    width:20%;
    height:100%;
}

.haut1 {
    float: left;
}
.haut2 {
    float: right;
}
.haut3 {
    background: #2c3e50;
    width:60%;
    height:100%;
    float: left;
}

.mnu {
    line-height: 50px;
    text-align: center;
    background: orange;
}
.side {
    float: left;
    width: 30%;
    height: calc(65% - 50px);
    background:red;
}
.right {
    float: right;
    width: 70%;
    height: calc(65% - 50px);
}
.aa, .bb, .show {
    height:40%;
    float: left;
}
.aa, .bb {
    width: 50%;
    background: greenyellow;
}
.aa {
    background: #963;
}

.show {
    width:100%;
    background: lightblue
}
.cc, .dd, .ee, .ff {
    width: 25%;
    float: left;
    text-align: center;
    background: pink;
    height: 20%;
}

.cc, .ee {
    background: gray;
}